
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.master-header {
    width: 100%;
    height: 50vh;
    position: relative;
    background: linear-gradient(to top right, #4ed8f7, #26afeb);
    color: #fff;
}

.logo-box {
    padding: 2% 3%;
    background-color: #16a7e4;
}
.logo-box a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 9, 161);
}
.hero {
    padding: 5%;
}

.hero-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.social-links {
    width: 50%;
    margin: auto;
    text-align: center;
}

.icons {
    font-size: 3rem;
    /* color: rgb(132, 1, 255); */
    display: inline-block;
    margin: 0 2rem;
}
.fa-brands {
    transition: 0.3s;
}

.fa-github {
    color: black;
}
.fa-facebook {
    color: #3b5998;
}
.fa-linkedin {
    color: #0072b1;
}

.fa-brands:hover {
    color: rgb(155, 101, 0);
}

