@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Mukta:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Mukta', sans-serif;
}

.master-header {
    width: 100%;
    height: 50vh;
    position: relative;
    background: linear-gradient(to top right, #4ed8f7, #26afeb);
    color: #fff;
}

.logo-box {
    padding: 1% 3%;
    background-color: #16a7e4;
}
.logo-box a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 9, 161);
}
.hero {
    padding: 5%;
}

.hero-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.social-links {
    /* width: 80%; */
    margin: auto;
    text-align: center;
}

.fa-github {
    color: black;
}
.fa-facebook {
    color: #0c53ec;
}
.fa-linkedin {
    color: #0072b1;
}

.button {
    width: 160px;
    border: none;
    outline: none;
    background: none;
    text-align: center;
    font-size: 2rem;
    /* margin: 0 1.5rem; */
    padding: 0 3rem;
}

.button span {
    position: relative;
    display: inline-block;
    transition: 0.5s;
}

.button span::after {
    font-size: 1.5rem;
    position: absolute;
    opacity: 0;
    top: 7px;
    left: 40px;
    transition: 0.5s;
}

.gh-btn span:after {
    content: " GitHub";
}

.fb-btn span::after {
    content: " Facebook";
    color: #0c53ec;
}
.li-btn span::after {
    content: " LinkedIn";
    color: #0072b1;
}

.button:hover span{
    padding-right: 40px;
}

.button:hover span::after {
    left: 40px;
    opacity: 1;
}

/* --------------------------------------- */

.group {
    padding: 4rem 0;
}
.grp-container {
    max-width: 80%;
    margin: 0 auto;
}

.grp-heading {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.grp-heading i {
    font-size: 2.5rem;
    display: block;
    margin-bottom: 0.5rem;
}

.html-heading i {
    color: #e34c26;
}
.css-heading i {
    color: #264de4;
}

.js-heading i {
    color: #F0DB4F;
}

.resource-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    row-gap: 5rem;
}

.resource {
    /* border: 1px solid red; */
}

.resource-heading {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.resource-heading a {
    text-decoration: none;
    color: #26afeb;
}
.resource-heading a:hover {
    color: #faa70f;
    transition: 0.2s;
}

.resource-text {
    font-family: 'Hind', sans-serif;
}

.resource-logo {
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

/* --------------------------------------- */

.footer-text {
    text-align: center;
}